# Files to ignore in your project path - James
Project1.code-workspace
.vscode/launch.json
undecided_app/__pycache__/app.cpython-38.pyc
CSCE-3444-workspace.code-workspace
.vscode/settings.json
app/__pycache__/*
__pycache__/undecided_app.cpython-38.pyc
