/* comment*/
.error{
  color: red;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 1rem;
  background-color: #006AFE;
}

li {
  display: inline;
}

form {
  display: inline;
}


html, body {
  height: 100%;
  margin: 0;
}

.content {
  min-height: 100%;
}

.content-inside {
  padding: 20px;
  padding-bottom: 50px;
}

.footer {
  text-align: center;
  background-color: #006AFE;
  color: white;
  height: 50px;
  margin-top: -50px;
}

.button {
  border-radius: 10px;
  background-color: #9BC6FF;
  border: none;
  color: white;
  padding: 16px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {
  float: right;
  background-color: white; 
  color: black; 
  border: 2px solid #9BC6FF;
}

.button1:hover {
  background-color: #9BC6FF;
  color: white;
}

.buttonhome {
  background-color: white; 
  color: black; 
  border: 2px solid #9BC6FF;
}

.buttonhome:hover {
  background-color: #9BC6FF;
  color: white;
}

.button_submit {
  background-color: white;
  margin-left: 50px; 
  color: black; 
  border: 2px solid #9BC6FF;
  margin-right:500px;
}

.button_submit:hover {
  background-color: #9BC6FF;
  color: white;
}

div.ex1 {
  background-color: #9BC6FF;
  text-padding: 15px;
  position: responsive;
  border: 2px solid black;
  margin-left: 15%;
  text-align: left;
  width: 70%;
  height: 400px;
  overflow: auto;
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column_small {
  float: left;
  align-items: center;
  width: 30%;
  padding: 10px;
  margin: 10px;
  height: 400px;
}

.column_wide {
  background-color:#bbb;
  float: right;
  width: 65%;
  padding: 10px;
  margin: 10px;
  height: 400px;
}

div.container4 {
    height: 10em;
    position: relative }
div.container4 p {
    margin: 0;
    background: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

.center {
  margin: 0;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 65%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}