{{template "base" .}}

{{define "title"}}About{{end}}

{{define "main"}}
    <h2>About</h2>
    <p>Kitchen Komplete is a cool app that helps you plan your meals and know what you have at home </p>
{{end}}