<h1>User Registration</h1>
<form method= "POST">
    <label>Name</label><br />
    <input type="text" name="name"><br/>
    <label>Username</label><br />
    <input type="text" name="username"><br/>
    <label>Email</label><br />
    <input type="text" name="email"><br/>
    <label>Password</label><br />
    <input type="text" name="passwd"><br/>
    <input type="submit">
</form>
