{{if .Success}}
    <h1>Thanks for your message!</h1>
    <p>How can we make KitchenKomplete better?<p>
{{else}}
    <h1>Support</h1>
    <form method="POST">
        <label>Email:</label><br />
        <input type="text" name="email"><br />
        <label>Subject:</label><br />
        <input type="text" name="subject"><br />
        <label>Message:</label><br />
        <textarea name="message"></textarea><br />
        <input type="submit">
    </form>
{{end}}